.list-container {
    margin: 20px;
}

.posts-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px; 
}

.new-post-btn {
    float: right;
    margin: 12px 0; 
    transition: .5s;
}

.new-post-btn:hover {
    transform: scale(0.95);
}

.icon-new-post {
    width: 17px;
}

.post {
    padding: 10px 0;
    margin: 0 20px;
}

.row {
    justify-content: space-between;
}

.post:hover {
    background-color: #50509f14;
}

.icon-sm {
    width: 15px;
    height: 15px; 
}

.activity {
    color: #50509F;
    margin: 0 5px; 
}

.activity-container {
    display: flex;
}

.published, .draft {
    border-radius: 5px;
    padding: 3px; 
    color: white; 
    text-align: center;
    width: 80px; 
    font-weight: 100;
    font-size: small;
}

.published {
    background-color: green;
}

.draft {
    background-color: orange;
}

p {
    margin: 0; 
}

.title {
    padding-left: 30px;
}

.action-btn {
    font-weight: 100;
    border: 1px solid #50509F;
    border-radius: 5px;
    width: 100px;
    padding: 0; 
    text-align: center;
    line-height: 24px !important; 
}